<h1 class="center">Commercial.ize is the right way to advertise in the new era of the Social Web.</h1>
<p> Instead of banner ads and flash videos that attempt to grab web surfers' attention in irrelevant and ineffective ways, Commercial.ize provides a venue for businesses of all sizes to host advertisements that Internet users actually want to see and get involved in. And in an extremely simple and easy to use way, to boot.
</p>
<p>Any business can launch a "Create your own commercial" contest, in which anyone can participate by posting their own homemade video that follows the particular rules for the contest. All the videos are open for everyone to view, and viewers can vote "Thumbs up" or "Thumbs down" for all the videos to help other viewers quickly find the best videos. When the contest is over, the company selects the winning video (based on their own criteria), and the video's submitter wins a handsome prize as described in the contest's rules!</p>
<p>Commercial.ize is an easy and fun way for people to watch creative commercials, ones that they actually want to see!</p>
<p>There is a small fee for a business to post a contest on Commercial.ize, but the business finally gets what is pays for with effective ads that people get involved in and enjoy.</p>
<p>Start by browsing the most popular commercials on Commercial.ize, and sign up so you can cast your votes!</p>
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %><br />	<%= link_to "Businesses start here!", business_signup_path,
																	 :class => "b_signup_button round" %>
