<div class="centerize">
<h1>Commercialize is the right way to advertise on the World Wide Web today.</h1>
<h4> Instead of banner ads and flash videos that attempt to grab web surfers' attention in irrelevant and ineffective ways, Commercialize provides a venue for businesses of all sizes to host advertisements that Internet users actually want to see and get involved in. And it's really easy to use.
</h4>
<h4>Any business can launch a "Create your own commercial" contest, in which anyone can participate by posting his or her own homemade video that follows the particular rules for that contest. All the videos are open for anyone to view, and viewers can express their opinion by voting "Thumbs up" or "Thumbs down" for any video. When the contest is over, the company selects the winning video (based on its own criteria), and the video's submitter wins the prize as described in the contest's rules!</h4>
<h3>Sign up now to post your own videos and to vote on all the others!</h3>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %><br />	
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<h2><strong>For businesses:</strong></h2>
<%= render 'pages/intro_text' %>
<%= link_to "Businesses start here!", business_signup_path, :class => "b_signup_button round" %>
</div>
