

			
	<h1>Welcome to Commercial.ize! Now, you can finally act out commercials the way
	you believe they ought to be done!</h1>
	<div id="poster portal">
		<h3>Do you think you can outdo the professional commercial actors?
		Well, why not give it a try? You can win cash and get seen by the world! Sign up
		here to get started:
		</h3>
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
	</div>
	<div id="business portal">
		<h3>Are you a business who wants to take advantage of a new and unique form of
		advertising? You can post your commercial transcripts right here! Get started
		today! It's absurdly easy!
		</h3>
		<%= link_to "Get started here!", business_signup_path,
																	 :class => "signup_button round" %>
	</div>


		 


