

			
	<h1>Welcome to Commercialize, the ultimate hub for 'Make your own commercial' contests! Create your own commercials for different companies and win major prizes AND become virally famous!</h1>
	<div id="poster portal">
		<h3>Do you think you can outdo the professional commercial actors?
		Well, why not give it a try? You can win cash and get seen by the world! Sign up
		here to get started:<br />
		<div class="centerize"><%= link_to "Find out more", about_path %></div>
		</h3>
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
	</div>
	<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
	<div id="business portal">
		<h3>Are you a business who wants to take advantage of a new and unique form of
		advertising? You can post your commercial contests right here! Get started
		today! It's absurdly easy!<br /><br />
		<div class="centerize"><%= link_to "Find out more", about_path %></div>
		</h3>
		<%= link_to "Businesses start here!", business_signup_path,
																	 :class => "b_signup_button round" %>
	</div>


		 


