

			
	<h1>Welcome to Commercialize, the ultimate hub for 'Make your own commercial' contests! Create your own commercials for different companies and win major prizes AND watch your commercials go viral!</h1>
	<div id="poster portal">
		<h3>There have probably been times when you have watched a commercial and thought to yourself (or yelled aloud), "I could create a much better commercial than that!" Well, now you finally can. Not only that, but your commercial can be seen by the world, and you can win contests and major prizes! Sign up
		here to get started:
		<p></p>
		<div class="centerize"><%= link_to "Learn more", about_path %></div>
		</h3>
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
	</div>
	<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
	<div id="business portal">
		<h3>Are you a business who wants to take advantage of a unique and effective form of
		advertising? You can post your commercial contests right here! Get started
		today! It's really easy!<br /><br />
		<div class="centerize"><%= link_to "Learn more", about_path %></div>
		</h3>
		<%= link_to "Businesses start here!", business_signup_path,
																	 :class => "b_signup_button round" %>
	</div>


		 


