<h1>Welcome, <%= "#{current_user.name}" %>.</h1>
<h3>At Commercial.ize, you don't have to sit and watch commercials. You can make your own!</h3>
<p>To start, you want to view the various commercial contests out there. To do so, click the "Commercials" link at the top of the page.</p> either click
