<%= form_for @commercial do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.text_area :transcript %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>
