<p>Every YouTube video has its own embed text. To find it, click on the "Embed" button below the video. Then, copy and paste the embed text into the appropriate box. See picture below.</p>
<%= image_tag("/images/embed1.png", :alt => "Shot of Youtube", :size => "700x500") %>
