<div class="centerize">
<p>Every YouTube video has its own embed code. To find it, click on the "Embed" button below the video. See picture below.</p>
<%= image_tag("/images/embed_first.png", :alt => "Shot of Youtube", :size => "600x500", :title => "Picture 1") %><br />
<p>Clicking on embed will reveal the embed code. Copy it by right clicking it and selecting 'Copy' or by pressing Ctrl-C. See picture below.</p>
<%= image_tag("/images/embed_second.png", :alt => "Shot of Youtube", :size => "600x500", :title => "Picture 1") %><br />
<p>You can then close this tab or window and paste the embed code into the Embed Code textbox by right clicking and selecting Paste or by pressing Ctrl-V. It's as simple as that!</p>
</div>
