

<table class="home">
 	<td class="main">
 	<%= yield %>
 		 </td>
 		  <tr>
      	<td class="bottombar round">
     
      <strong>Most popular commercials</strong><br />
      <% popular_posts.each do |post| %>
 
				<%= image_tag("#{post.thumbnail}") %><br />
				<%= link_to "#{post.title}", commercial_path(post.commercial) %>
			
			<% end %>
			
     		</td>
    </tr>


	 
</table>
