

<div class="main round">	
	<strong>Recently posted contests:</strong><br />
	<% recent_commercials.each do |commercial| %>
		<%= gravatar_for commercial.user %>
		<%= link_to "#{commercial.title}", commercial_path(commercial) %><br />
	<% end %>
</div>
<div class="bottombar round">
	<strong>Highest voted commercials:</strong><br />
			<% popular_posts.each do |post| %>
 
				<%= link_to image_tag("#{post.thumbnail}"), commercial_path(post.commercial) %><br />
				<%= link_to "#{post.title}", commercial_path(post.commercial) %><br />
			
			<% end %>
			
</div>

